<form action="/payment/results">
  <label for="cat">APR</label>
  <input id="cat" type="text" name="apr_num">

  <label for="dog">Number of years</label>
  <input id="dog" type="text" name="years">

  <label for="fish">Principal</label>
  <input id="fish" type="text" name="principal">

  <button>Calculate monthly payment</button>
</form>
