<form action="/random/results">
  <label for="daisy">Minimum</label>
  <input id="daisy" type="text" name="minimum">

  <label for="lily">Maximum</label>
  <input id="lily" type="text" name="maximum">

  <button>Pick random number</button>
</form>
