<h1>Random Results</h1>

<d1>
  <dt>Minimum</dt>
  <dd> <%= @min %> </dd>

  <dt>Maximum</dt>
  <dd> <%= @max %> </dd>

  <dt>Random Number</dt>
  <dd><%= @result %> </dd>

<a href="/random/new">
  Pick another random number
</a>
